.footer {
    position: absolute;
    width: 100%;
    margin: 0 auto 0;
    justify-content: center;
    display: flex;
    bottom: 8em;
}

.background {
    background-color: #303030;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.consoleDiv {
    margin: 5em;
    margin-top: 15em;
    display: flex;
    justify-content: center;
}
